<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
        <h3>Zawody w systemie</h3>
        </div>
        <% if current_user.admin? %>
          <div class="col col-auto">
            <%= link_to "Dodaj zawody", new_competition_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <ul class="list-group">
        <% @competitions.each do |competition| %>
          <% if current_user.can_manage_competition? competition %>
            <%= link_to competition_path(competition), class: "list-group-item list-group-item-action" do %>
              <%= icon "fas", (competition.surveys_closed? ? "check-square" : "square"), competition.name %>
            <% end %>
          <% else %>
            <%= content_tag :li, competition.name, class: "list-group-item list-group-item-action disabled" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
