<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <h3>Zawody w systemie</h3>
      <ul class="list-group">
        <% @competitions.each do |competition| %>
          <% if current_user.can_manage_competition? competition %>
            <%= link_to competition.name, competition_path(competition), class: "list-group-item list-group-item-action" %>
          <% else %>
            <%= content_tag :li, competition.name, class: "list-group-item list-group-item-action disabled" %>
          <% end %>
        <% end %>
      </ul>
      <% if current_user.admin? %>
        <div class="mt-2">
          <%= link_to "Dodaj zawody", new_competition_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
