<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h3>Dodaj zawody</h3>
      <%= bootstrap_form_tag url: competitions_path do |f| %>
        <%= f.select :competition_wca_json, @competition_names_with_json, { label: "Zawody" }, { class: "custom-select" } %>
        <%= f.file_field :competitors_csv_file, label: "Plik CSV z listą zawodników" %>

        <%= f.submit "Wyślij ankiety" %>
      <% end %>
    </div>
  </div>
</div>
